<div class="banner">
  <table>
    <tr>
      <td>
        <img src="https://public.svsticky.nl/logos/logo_compact_outline_wit.png" height="40" width="80" alt="Logo"
          title="Logo" style="display:block;" />
      </td>
    </tr>
  </table>
</div>