<html lang="nl">
{{> header }}
<body>
<div class="container">
    {{> banner }}

    <p>Hoi {{ name }}, </p>
    <p>
        Jouw tijdelijke wachtwoord: <code>{{ temporary_password }}</code>
    </p>
</div>
</body>
</html>