<html lang="nl">
{{> header }}
<body>
<div class="container">
    {{> banner }}

    <p>Hoi {{ name }}, </p>
    <p>
        Verifier je email adres via de volgende link:
        <a href="{{ email_verify_link }}">{{ email_verify_link }}</a>
    </p>
</div>
</body>
</html>